body {
    padding-top: 150px;
    text-align: center;
    height: 10000px;
}
.ad div {
    margin: auto;
    text-align: center;
}
.stuck {
    position: fixed;
    width: 99%;
}
#div-gpt-ad-MY01.stuck {
    top: 0;
}
#div-gpt-ad-MY02.stuck {
    bottom: 0;
}
p {
    font-size: 21px;
}
