body {
    padding-top: 150px;
    text-align: center;
    height: 10000px;
}
.ad div {
    margin: auto;
    text-align: center;
}
.stuck {
    position: fixed;
    top: 0;
    width: 99%;
}
p {
    font-size: 21px;
}
